@import url("general.css");

.texto {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

h1 {
  text-align: center;
}

@media (max-width: 480px) {
  .about-container {
    height: calc(100vh - var(--header-height));
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .about-container > * {
    margin-bottom: 1rem;
  }

  .imagen {
    width: calc(80vw + 2rem);

    display: flex;
    align-items: center;
  }

  .imagen img {
    width: 100%;
  }

  .texto {
    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texto h1 {
    margin-bottom: 1rem;
  }

  .tittle {
    margin-top: 1rem;
  }
}

@media (max-height: 687px), (max-width: 350px) {
  .about-container {
    height: 100%;
  }
}

@media (min-width: 481px) {
  .about-container {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .imagen {
    height: 60vh;
    width: 40vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagen > * {
    width: 100%;
    max-width: 400px;
    max-height: 100%;
  }

  .texto {
    width: 40vw;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    overflow: auto;
  }

  .texto h1 {
    margin-bottom: 1rem;
  }
}
