* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-bg-color: #c9cba3;
  --main-bg-light: #ffe1a8;
  --navbar-light: #723d46;
  --navbar-dark: #472d30;
  --font-color: white;
}

.buttons {
  background-color: var(--navbar-light);
  width: 100%;
}

.buttons a {
  color: var(--font-color);
  line-height: 40px;
}

.form-container {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

form {
  border-radius: 20px;
  background-color: var(--main-bg-color);
  width: 80%;
  padding: 10px;
}

form > * {
  display: flex;
  flex-direction: column;
}

form #info-container input {
  line-height: 30px;
}

form #send-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

@media (max-width: 420px) {
  /*ver como arreglar esto, me tapa el boton jijiji*/
  html {
    height: 115%;
  }

  .buttons {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-around;
  }

  form div,
  form div > * {
    margin-bottom: 7px;
  }

  form .cambiarNombre #reason-detail-container select {
    width: 100%;
  }

  form #send-button-container input {
    border-radius: 10px;
    padding: 5px 20px;
  }
}

@media (min-width: 420px) {
  .buttons {
    display: flex;
    justify-content: flex-end;
  }

  .buttons a {
    margin: 0 10px;
  }

  form {
    max-width: 500px;
  }

  form div,
  form div > * {
    margin-bottom: 7px;
  }

  form .cambiarNombre {
    display: flex;
    flex-direction: row;
  }

  form .cambiarNombre #reason-container {
    width: 30%;
  }

  form .cambiarNombre #reason-detail-container {
    width: 70%;
  }

  form .cambiarNombre #reason-detail-container select {
    width: 100%;
  }

  form #send-button-container input {
    border-radius: 10px;
    padding: 5px 30px;
  }
}
