@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-bg-color: #c9cba3;
  --main-bg-light: #ffe1a8;
  --navbar-light: #723d46;
  --navbar-dark: #472d30;
  --font-color: white;
}

.buttons {
  background-color: var(--navbar-light);
  width: 100%;
}

.buttons a {
  color: var(--font-color);
  line-height: 40px;
}
