@import url("general.css");

@media (max-width: 479px) {
  .buttons {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 480px) {
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .buttons a {
    margin: 0 10px;
  }
}
